body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

main {
  margin: 2% 3%;
}

.player-video {
  position: relative;
	padding-bottom: 14.0625%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.player-video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.fa-youtube {
  color: red;
}

.logo-title {
  color: black;
  font-size: 2rem;
  font-weight: 700;
}

.player-video {
    min-width: 560px;
    min-height: 315px;  
}

.player{
    padding: 20px 40px;
    width: 60%;
}

.up-next {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 40px;
}

.next-card {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 8px;
}

.next-card-details p {
    margin:0px;
    background-color: green;
    margin-left: 8px;
}
